# Node.js configuration
PORT='3000'

# Scroll network configuration
RPC_ENDPOINT='https://rpc.scroll.io'

# Scroll Badge attestation configuration
# https://github.com/scroll-tech/canvas-contracts/blob/master/docs/deployments.md
EAS_MAIN_CONTRACT_ADDRESS='0xC47300428b6AD2c7D03BB76D05A176058b47E6B0'

SCROLL_BADGE_SCHEMA_UID='0xba4934720e4c7fc2978acd7c8b4e9cb72288e72f835bd19b2eb4cac99d79d220'
SCROLL_BADGE_SCHEMA='address badge, bytes payload'
SCROLL_PROFILE_REGISTRY_ADDRESS="0x19bA366e708006dF04B1aA42057b0aCb55F6960E"

# Badge implementation
SIMPLE_BADGE_CONTRACT_ADDRESS=
SIMPLE_BADGE_ATTESTER_PROXY_CONTRACT_ADDRESS=

# Use signer private key...
# /!\ WARNING /!\ don't publish your keys!
SIGNER_PRIVATE_KEY=
